h1 {
color: yellow;
font-size: 50px;
}
p {
  color: whitesmoke;
  font-size: 20px;
}
.contact-form {
  width: 100%;
  margin-top: 50px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 1;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 0;
    background: #c2c6c8;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #c2c6c8;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }
  .flat-button {
    color: #ffd700;
    background: 0 0;
    font: 80px;
    letter-spacing: 15px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    float: left;
    border-radius: 8px;
  }
}

.gmail {
  margin-left: 60%;
  margin-top: 0%;
  width: 20%;
}
